/* GenerateVTP.css */
.generate-vtp {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

/* Styles pour les formulaires */
label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: calc(100% - 16px); /* Ajuste la largeur de l'input avec une marge de 8px de chaque côté */
  padding: 8px;
  margin-bottom: 15px;
}

/* Styles pour les boutons */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Styles pour les scénarios */
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}
.popup th {
  width: 100%;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  width: 100%;
}

.buttons-container {
  display: flex;
}

/* Styles pour les icônes */
.modify-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
  filter: brightness(0.8); /* Réduire la luminosité pour un aspect "désactivé" */
}

.delete-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
  filter: brightness(0.8); /* Réduire la luminosité pour un aspect "désactivé" */
}

/* Styles pour la popup de modification */
.popup-content {
  text-align: left;
}

.popup label {
  display: block;
  margin-bottom: 10px;
}

.popup input {
  width: calc(100% - 16px); /* Ajuste la largeur de l'input avec une marge de 8px de chaque côté */
  padding: 8px;
  margin-bottom: 15px;
}

button.modify {
  background-color: transparent; /* Orange */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.delete {
  background-color: transparent;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles pour le message de succès */
.success-message {
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.present {
  color: green; /* Exigence présente dans les scénarios */
}

.absent {
  color: red; /* Exigence absente dans les scénarios */
}