.App {
  text-align: center;
  margin: 20px;
}

input {
  margin: 5px;
  color:black;
  background-color: palegoldenrod;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

img {
  width:10px;
  height:10px;
}

table {
  margin: 0 auto; /* Cette règle de style centre le tableau horizontalement */
  width: 50%; /* Ajuste la largeur du tableau selon tes besoins */
}

/* App.css */
.delete-icon {
  width: 15px; /* Ajoutez d'autres styles spécifiques à votre image delete-icon */
  height: 15px;
  /* ... Ajoutez d'autres styles spécifiques à votre image delete-icon ... */
}

/* App.css */
.modify-icon {
  width: 30px; /* Ajoutez d'autres styles spécifiques à votre image delete-icon */
  height: 30px;
  /* ... Ajoutez d'autres styles spécifiques à votre image delete-icon ... */
}

.success-message {
  background-color: palegoldenrod;
  color: black;
  text-align: center;
  position: fixed;
  bottom: 10%;
  width: 100%;
}