.app{
  background-color: #0b4f7c2d;
}

input {
  margin: 5px;
  color:black;
  background-color: #0b4f7c2d;
  margin: 0 auto;
}


table {
  margin: 0 auto; /* Cette règle de style centre le tableau horizontalement */
  width: 80%; /* Ajuste la largeur du tableau selon tes besoins */
}

/* App.css */
.delete-icon {
  width: 15px; /* Ajoutez d'autres styles spécifiques à votre image delete-icon */
  height: 15px;
  /* ... Ajoutez d'autres styles spécifiques à votre image delete-icon ... */
}

/* App.css */
.modify-icon {
  width: 30px; /* Ajoutez d'autres styles spécifiques à votre image delete-icon */
  height: 30px;
  /* ... Ajoutez d'autres styles spécifiques à votre image delete-icon ... */
}

.success-message {
  background-color: #0b4f7c;
  color: rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  bottom: 10%;
  width: 100%;
}